## Class Tree Practice

In [2]:
import zipfile

# Specify the path to the ZIP file
zip_file_path = 'DataBreaches.zip'

# Specify the directory where you want to extract the contents
extracted_dir = './data'

# Open the ZIP file for reading
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Extract all the contents of the ZIP file to the specified directory
    zip_ref.extractall(extracted_dir)

In [3]:
import numpy as  np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('./df_1.csv',sep=',') # Load divorce data
df.head()

,Unnamed: 0,Entity,Year,Records,Organization type,Method,Sources
0,0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,1,500px,2020,14870304,social networking,hacked,[7]
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9]
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,4,Adobe Inc.,2019,7500000,tech,poor security,[11][12]

In [7]:
from sklearn import tree # Import the tree classifier

# Process data:
y = df['Method']  # so you need to clean the data so that method is a list of optional numbers to select
                  # Also need to clean the data so that it's just organization type and method and organization type is 
                  # a list of numbers as well. 
df.drop(['Method','Entity','Records','Sources','Unnamed: 0'], axis=1)
    # If I were to go in and clean the data, there would be hacked, poor security, accidentally published as three
    # categories and each would receive a number

# Fit decision tree:
cart = tree.DecisionTreeClassifier() # Create a classifier object
cart = cart.fit(X, y) # Fit the classifier

# Visualize results:
tree.plot_tree(cart,filled=True)

0                      hacked
1                      hacked
2               poor security
3                      hacked
4               poor security
                ...
347                    hacked
348    accidentally published
349             poor security
350             poor security
351    accidentally published
Name: Method, Length: 352, dtype: object

     Year  Organization type
0    2016         healthcare
1    2020  social networking
2    2020         healthcare
3    2013               tech
4    2019               tech
..    ...                ...
347  2019     social network
348  2020          financial
349  2020         healthcare
350  2022            various
351  2022             retail

[352 rows x 2 columns]